body {
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .header {
    display: flex;
    width: 100%;
  }
  
  .logo {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 1em 5em;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 1050px) {
    .logo {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 1em 0;
    }
  }
  
  @media (max-width: 1050px) {
    .logo img {
      width: 75%;
    }
  }
  
  @media (max-width: 1050px) {
    .header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }
  
  /* NAV START */
  
  .navigation {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 1em;
    margin-left: 4em;
    text-align: center;
  }
  
  .navigation li {
    display: inline-block;
    margin: 1em;
    color: #000;
  }
  
  #nav,
  .a {
    font-family: "Karla", sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
  }
  
  @media (max-width: 1050px) {
    .navigation {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
    }
  }
  @media (min-width: 880px) {
    .navigation {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }
  
  /* NAV END */
  
  /* MAIN START */
  
  .main {
    display: flex;
    background-color: #495e57;
    width: 100%;
    height: 420px;
    margin-top: 2em;
  }
  
  @media (max-width: 800px) {
    .main {
      justify-content: center;
      height: auto;
      text-align: center;
    }
  }
  
  .main-content {
    width: 40%;
    margin-left: 7em;
    margin-right: 5em;
  }
  
  @media (max-width: 800px) {
    .main-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 2em;
    }
  }
  
  .main-content p {
    font-family: "Karla", sans-serif;
    font-size: 22px;
    color: #fff;
    width: 350px;
  }
  
  @media (max-width: 800px) {
    .main-content p {
      text-align: center;
      width: 95%;
    }
  }
  
  .featured img {
    width: 60%;
    height: 500px;
    border-radius: 15px;
    margin-top: 2em;
    margin-left: 6em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  @media (min-width: 700px) and (max-width: 1050) {
    .featured img {
      margin-left: -2em;
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .featured img {
      display: none;
    }
  }
  
  .featured {
    width: 50%;
  }
  
  @media (max-width: 800px) {
    .featured {
      display: none;
    }
  }
  
  /* MAIN END */
  
  /* HEADERS & BUTTONS START */
  
  h1 {
    font-family: "Markazi Text", serif;
    font-size: 60px;
    font-weight: 700;
    color: #f4ce14;
  }
  
  h2 {
    font-family: "Markazi Text", serif;
    font-size: 30px;
    color: #fff;
  }
  
  h3 {
    font-family: "Markazi Text", serif;
    font-size: 60px;
    color: #000;
    margin: 1em;
    margin-right: 5em;
  }
  
  @media (max-width: 800px) {
    h3 {
      font-size: 60px;
      margin-top: 1em;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  h4 {
    font-family: "Markazi Text", serif !important;
    font-size: 60px;
    font-weight: 700;
    color: #000;
  }
  
  h5 {
    font-family: "Markazi Text", serif ;
    font-size: 30px;
    color: #000;
  }
  
  #button {
    background-color: #f4ce14;
    color: #000;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 18px;
    width: 12em;
    height: 3em;
    margin: 1em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  #button:hover {
    cursor: pointer;
  }
  .specials #button {
    margin-top: 4em;
  }
  
  @media (max-width: 400px) {
    .specials #button {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
  
  /* HEADER & BUTTONS END */
  
  /* SPECIALS START */
  .specials-con {
    padding: 20px;
  }
  
  .specials {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 6em;
  }
  
  .specials-head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
  
  /* SPECIALS END */
  
  /* TESTIMONIALS START */
  .testimonials {
    background-color: #495e57;
    padding: 20px;
  }
  
  .card{
    border:none;
  }
  
  .user-content p{
    margin-top:5px;
    font-size:12px;
  }
  
  
  .ratings i{
    color: #f4ce14;
  }
  
  /* TESTIMONIALS END */
  
  /* ABOUT START */
  .about-imgs {
    padding-bottom: 5rem;
  }
  #chefs {
    max-width: 50%;
    margin-top: 1em;
    margin-left: 10em;
  }
  
  #restaurant {
    max-width: 40%;
    margin-top: -10em;
    margin-left: 1em;
  }
  
  #chefs, #restaurant {
    height: 18em;
  }
  /* ABOUT END */
  
  /* FOOTER START */
  
  .horizontal-line {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .footer-logo {
    max-width: 30%;
  }
  /* footer END */
  